.navbar {
    overflow-x: hidden;
    #reload {
        line-height: 22px;
    }
}

.main {
    max-width: 100%;
    overflow-x: hidden;
    .demo {
        height: 200px;
    }
}

.show-background {
    .touch-swiper-page {
        &:nth-of-type(1) {
            background-color: rgb(245, 153, 153);
            color: black;
        }
        &:nth-of-type(2) {
            background-color: rgb(147, 147, 248);
            color: black;
        }
        &:nth-of-type(3) {
            background-color: rgb(207, 240, 140);
            color: black;
        }
    }
}